.button {
  color: red;

  &.large {
    height: 100px;
  }

  &.medium {
    height: 70px;
  }

  &.small {
    height: 50px;
  }

  &.active {
    background: blue;
  }

  // & + & {
  //   margin: 0 0 0 20px;
  // }

  & ~ & {
    margin: 0 0 0 20px;
  }
}