* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

h2, legend {
  font-size: 20px;
}

fieldset {padding: 20px;}

label {display: block;}

input {
  width: 100%;
  height: 25px;
  margin: 10px 0 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {
  padding: 20px;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  color: #222;
  padding: 20px;
  border: 1px dotted #222;
}

.navigation {
  text-align: center;
  margin: 0 0 100px;
}

.navigation > li {
  display: inline-block;
  margin: 0 0 0 20px;
}

.navigation > li:first-child {
  margin: 0;
}

.signout-btn {
  margin: 50px 0 0;
  -webkit-appearance: none;
  border: 1px solid #222;
  background: none;
  padding: 10px;
}

.submit-btn {
  width: 150px;
  margin: 50px 0 0;
  padding: 10px;
  -webkit-appearance: none;
  border: none;
  border-radius: 5px;
  background: #F2167D;
  color: #fff;
}

.col {
  width: 300px;
  margin: 20px auto;
  text-align: left;
}

.notice {
  margin: 5px 0 0;
  font-weight: 400;
  font-size: 12px;
  color: red;
}